nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(147, 68, 158);
    height: 3em;
    width: 100vw;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 1em;
}


.nav-link {
    color: white;
    text-decoration: none;
}

